a {
	text-decoration: none;
}

.center-wrapper {
	text-align: center;
}
.center-wrapper * {
	margin: 0 auto;
}

.center-button {
	margin: 0 auto;
}

.selectionMenu {
    min-width:210px;
}

.memoPhoto {
    width: 100%;
}

.recordVoicePopup {
    width:250px;
}

.ui-header .ui-title {
    overflow: visible !important; 
}

.center-screen {
    position: absolute; 
    top: 50%; 
    left: 20px; 
    margin-top: -1.2em;
}